@using CarInsurance.ViewModels
@model List<QuoteVM>


<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow" style="background-color: #a8e2e2">
        <div class="card-header text-center">
            <h3 class="m-0">Thank you for your Information</h3>
        </div>
        <div class="card-body text-center">
            <h5>An Agent will contact you shortly</h5>
            <h5>Or Call 1-800-555-5555 for Immediate Assistance</h5>
        </div>
        
    </div>
</div>